### Import Libraries

In [107]:
from ceic_api_client.pyceic import Ceic
import datetime
import pandas as pd

### Connect to CEIC

In [11]:
# Create connection using CEIC log in details
Ceic.login(<username>, <password>)

C:\Users\manas.vaidya\anaconda3\lib\site-packages\ceic_api_client\facade\pyceic_warnings.py:83: UserWarning:
WARNING: The PyCEIC package is designed as direct
interaction interface to CEIC macroeconomic data and
any data usage abuse attempt will be recorded.
  warnings.warn(message=self._WARNING_MESSAGE, category=UserWarning)

### Select series to extract

In [98]:
# Select series to scrape
ceic_df = Ceic.series(["3ad0f01d-c92f-4b33-8dbd-06a9428af254", 
                           "bcdb5175-751f-4d38-b4de-08ebf394a56e", 
                           "55b19f84-efaf-48fa-9d98-27fef95238bd", 
                           "35a2d6d0-5ec0-41bf-9c54-d37da3c19745", 
                           "72716b09-58fe-4929-bccb-dc42e294501b", 
                           "22f67041-ddb3-4431-a03f-eb6dc70ee4f0"], lang = "en")

### Create API Scraping function

In [245]:
def ceic_series_scrape(ceic_result):
    # Initialise master df
    df_master = pd.DataFrame()
    
    # Set number of series scraped
    n = len(ceic_result.data)
    
    # Loop to extract data from all series
    for i in range(n):
        # Initialise empty df for each series
        df_series = pd.DataFrame()
        
        # Find length of i'th time series
        m=len(ceic_result.data[i].series_data.time_points)
        
        # Find Series i's name
        series_name = ceic_result.data[i].series_data.metadata.name
        
        # Loop to extract all time_points
        for j in range(m):
            df_series.loc[j,'timestamp'] = ceic_result.data[i].series_data.time_points[j].date
            df_series.loc[j, series_name] = ceic_result.data[i].series_data.time_points[j].value
            
        # Change Timestamp column to index for the series
        df_series = df_series.set_index('timestamp')
        
        # Merge with master dataframe
        df_master = pd.concat([df_master, df_series], axis=1)
        
    #return master df
    return df_master

### Run scrape

In [246]:
ceic_series_scrape(ceic_df)

,Scheduled Commercial Banks: Investment: Government Securities,Scheduled Commercial Banks: Deposits,Scheduled Commercial Banks: Assets: Banking System,Scheduled Commercial Banks: Liabilities: Banking System,Scheduled Commercial Banks: Deposits: Demand,Scheduled Commercial Banks: Investment
timestamp,,,,,,
2022-08-01,50664683.1,169938554.4,2924641.5,2782451.5,20229993.3,50672587.9
2022-07-01,50134722.2,169723132.2,2837622.4,2733130.1,20420351.0,50142969.2
2022-06-01,48864450.0,165920980.0,2906920.0,2814480.0,19536900.0,48872530.0
2022-05-01,48296220.0,165972270.0,2785170.0,2775680.0,19853040.0,48304280.0
2022-04-01,48260840.0,167815750.0,2731450.0,2824320.0,21144350.0,48270620.0
...,...,...,...,...,...,...
1947-12-01,NaN,9650.0,NaN,NaN,6490.0,NaN
1947-11-01,NaN,9660.0,NaN,NaN,6540.0,NaN
1947-10-01,NaN,9640.0,NaN,NaN,6510.0,NaN
1947-09-01,NaN,9420.0,NaN,NaN,6340.0,NaN
1947-08-01,NaN,15600.0,NaN,NaN,6270.0,NaN